<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638911413456-82ockc9ga8f1540q1j8226122p9114c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638911413456-82ockc9ga8f1540q1j8226122p9114c1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638911413456-97v8aka1k93fpdumm0spb1f7ftfm7ls5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtg5toMS4dUUK48LtIL0RMT8cAsLUtpWs</string>
	<key>GCM_SENDER_ID</key>
	<string>638911413456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trongtran.iwallet</string>
	<key>PROJECT_ID</key>
	<string>iwallet-b8952</string>
	<key>STORAGE_BUCKET</key>
	<string>iwallet-b8952.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638911413456:ios:c47d33a28e5467622e32d5</string>
</dict>
</plist>